In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('WDIData.csv')
df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.789043,17.196986,17.597176,18.034249,18.345878,18.695306,19.149942,19.501837,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.397917,6.580066,6.786218,6.941323,7.096843,7.254828,7.460783,7.599289,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.660864,37.857526,38.204173,38.303515,38.421813,38.482409,38.692053,38.793983,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.610692,31.824950,33.744405,38.733352,40.092163,42.880977,44.073912,45.609604,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.535523,17.485006,16.329765,24.372504,25.153292,27.227391,29.383000,30.163364,NaN,NaN

## Transpose the dataframe

In [21]:
df = df.transpose()

In [22]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,383562,383563,383564,383565,383566,383567,383568,383569,383570,383571
Country Name,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Country Code,AFE,AFE,AFE,AFE,AFE,AFE,AFE,AFE,AFE,AFE,...,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE,ZWE
Indicator Name,Access to clean fuels and technologies for coo...,Access to clean fuels and technologies for coo...,Access to clean fuels and technologies for coo...,Access to electricity (% of population),"Access to electricity, rural (% of rural popul...","Access to electricity, urban (% of urban popul...",Account ownership at a financial institution o...,Account ownership at a financial institution o...,Account ownership at a financial institution o...,Account ownership at a financial institution o...,...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who believe a husband is justified in be...,Women who were first married by age 15 (% of w...,Women who were first married by age 18 (% of w...,Women's share of population ages 15+ living wi...,Young people (ages 15-24) newly infected with HIV
Indicator Code,EG.CFT.ACCS.ZS,EG.CFT.ACCS.RU.ZS,EG.CFT.ACCS.UR.ZS,EG.ELC.ACCS.ZS,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,FX.OWN.TOTL.ZS,FX.OWN.TOTL.FE.ZS,FX.OWN.TOTL.MA.ZS,FX.OWN.TOTL.OL.ZS,...,SG.VAW.REAS.ZS,SG.VAW.ARGU.ZS,SG.VAW.BURN.ZS,SG.VAW.GOES.ZS,SG.VAW.NEGL.ZS,SG.VAW.REFU.ZS,SP.M15.2024.FE.ZS,SP.M18.2024.FE.ZS,SH.DYN.AIDS.FE.ZS,SH.HIV.INCD.YG
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Most of the countries have no data from 1960-1999 so dropping the dates

In [23]:
df.drop(df.iloc[4:44].index, inplace=True)

In [29]:
df.isna().sum()

0          2
1          2
2          2
3          2
4          4
          ..
383567    20
383568    19
383569    17
383570     1
383571     1
Length: 383572, dtype: int64

## Only 20yrs of data is present in the dataframe but among them we can see some rows have 20 missing values. So dropping rows with more than 15 missing values

In [ ]:
df.dropna(axis=1, thresh=15, inplace=True)

In [ ]:
df = df.transpose()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
2000              194518
2001              201406
2002              198175
2003              196070
2004              190788
2005              179048
2006              178897
2007              176683
2008              175906
2009              174744
2010              163405
2011              167956
2012              165985
2013              168872
2014              161663
2015              161892
2016              165942
2017              170148
2018              172567
2019              182156
2020              220700
2021              288710
dtype: int64

In [90]:
df.drop(columns=['Unnamed: 66', '2021', 'Country Code', 'Indicator Code'], axis=1, inplace=True)

In [91]:
df

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Africa Eastern and Southern,Access to clean fuels and technologies for coo...,11.569626,11.915139,12.256994,12.603469,12.966106,13.374963,13.863767,14.324714,...,16.027165,16.433999,16.789043,17.196986,17.597176,18.034249,18.345878,18.695306,19.149942,19.501837
1,Africa Eastern and Southern,Access to clean fuels and technologies for coo...,3.545501,3.730781,3.877017,4.093474,4.324172,4.536031,4.813561,5.020134,...,5.991364,6.196543,6.397917,6.580066,6.786218,6.941323,7.096843,7.254828,7.460783,7.599289
2,Africa Eastern and Southern,Access to clean fuels and technologies for coo...,32.566135,32.876863,33.27904,33.779835,34.264898,34.743929,35.18167,35.798954,...,37.183958,37.434876,37.660864,37.857526,38.204173,38.303515,38.421813,38.482409,38.692053,38.793983
3,Africa Eastern and Southern,Access to electricity (% of population),19.95793,19.98622,21.601503,22.548307,23.81588,23.481156,24.749913,26.751591,...,28.948628,31.682318,31.610692,31.82495,33.744405,38.733352,40.092163,42.880977,44.073912,45.609604
4,Africa Eastern and Southern,"Access to electricity, rural (% of rural popul...",8.62311,NaN,NaN,9.773262,10.96153,10.398347,12.435898,12.400956,...,16.139425,19.30785,18.535523,17.485006,16.329765,24.372504,25.153292,27.227391,29.383,30.163364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383555,Zimbabwe,"Wage and salaried workers, total (% of total e...",38.73,38.450001,37.669998,36.669998,36.779999,37.43,37.93,36.240002,...,33.93,34.009998,33.77,33.720001,33.369999,33.0,32.810001,32.650002,31.25,NaN
383557,Zimbabwe,"Water productivity, total (constant 2015 US$ G...",5.21172,5.024127,4.360662,3.732287,3.628536,3.534933,3.529801,3.521828,...,4.634738,5.398924,5.606955,5.726622,5.880153,5.920923,6.278786,5.837433,5.467781,NaN
383559,Zimbabwe,Women Business and the Law Index Score (scale ...,70.0,70.0,75.625,75.625,75.625,75.625,84.375,86.875,...,86.875,86.875,86.875,86.875,86.875,86.875,86.875,86.875,86.875,86.875
383570,Zimbabwe,Women's share of population ages 15+ living wi...,56.3,56.6,56.8,57.0,57.2,57.4,57.5,57.7,...,58.6,58.9,59.1,59.4,59.5,59.7,59.9,60.1,60.3,60.5
383571,Zimbabwe,Young people (ages 15-24) newly infected with HIV,44000.0,42000.0,39000.0,37000.0,36000.0,34000.0,33000.0,31000.0,...,24000.0,22000.0,20000.0,19000.0,17000.0,15000.0,13000.0,10000.0,8600.0,7700.0

m_df